# Adapted from https://gist.github.com/aagarwal1012/eb2551683d81cf47d60868ab607520b1
name: Flutter CI

on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # Setup
            - name: Checkout
              uses: actions/checkout@v1

            - name: Setup Java
              uses: actions/setup-java@v1
              with:
                  java-version: "12.x"

            - name: Cache Flutter dependencies
              uses: actions/cache@v1
              with:
                  path: /opt/hostedtoolcache/flutter
                  key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}

            - name: Setup Flutter
              uses: subosito/flutter-action@v1
              with:
                  flutter-version: "2.2.1"

            - name: Disable Analytics
              run: flutter config --no-analytics

            - name: Install Dependencies
              run: flutter pub get

            # Checks
            - name: Analyze
              run: flutter analyze .
            - name: Test
              run: flutter test
              env:
                  TOKEN_API: ${{ secrets.TOKEN_API }}
                  TOKEN_API_AUTH: ${{ secrets.TOKEN_API_AUTH }}

            # Build
            - name: Build
              run: flutter build apk --split-per-abi

            # Add File
            - name: Export APK
              uses: actions/upload-artifact@v1
              with:
                  name: release-apk
                  path: build/app/outputs/apk/release/app-armeabi-v7a-release.apk

            - name: Notify Discord
              run: curl $URL
              env:
                  URL: ${{secrets.URL}}
